
button {
    display: block;
    padding: 15px 32px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover {
    color: pink;
    transform: scale(1.1);
}

.container {
    font-family: 'IM Fell Double Pica', 'Bilbo Swash Caps', 'Romanesco';
}

